<router-outlet></router-outlet>

<!-- 
    Date: 29 August 2020
    Description: Whole Application Container Code
    Developer: Shubham Singh
-->

<!-- Whole Application Container -  Code -- start -->

<div class="wrapper">

  <!-- App Header - code -- start -->
  <header class="app-header">
    <app-header></app-header>
  </header>
  <!-- App Header - code -- end -->

  <!-- Main Content section - code -- start -->
  <section class="main-content">

    <!-- App filter code -- Start -->
    <aside class="space-X-filter">
      <app-space-x-filter></app-space-x-filter>
    </aside>
    <!-- App filter code -- end -->

    <!-- App Space X Data - code -- Start -->

    <section class="space-X-data">
      <app-loader></app-loader>

      <app-space-x-data></app-space-x-data>
    </section>
    <!-- App Space X Data - code -- end -->

  </section>
  <!-- Main Content section  - code -- end -->

  <!-- App Footer code -- start -->
  <footer class="app-footer">
    <app-footer></app-footer>
  </footer>
  <!-- App Footer code -- end -->

</div>

<!-- Whole Application Container - Code -- end -->
