.filter-content{
    width: 100%;
    height: 450px;
    background: white;
    border-radius: 10px;
    border: 1px solid grey;
}
.filter-content .filter{
    margin-left: 10px;
}
.filter-table button{
    background: rgb(182, 219, 187);
    padding: 3px 5px;
    text-align: center;
    border-radius: 7px;
}

.filter-table button:active{
    background-color: rgb(57, 218, 57);
}
table{
    width: 100%;
    margin: 3px 0 3px 10px
}
td{ 
    width: 30%;
}
.filter-content .heading-btn{
    text-align: center;
    background: white;
    padding: 4px;
    margin: 10px 0 0 20px;
    border-radius: 10px;
}

/* ----------------------------------------------------Media Query CSS Code -- Start------------------------------------------------------------------------------ */

@media (max-width: 700px){
    .filter-content{
        display: block;
        width: 95%;
        margin: 8px 4px 4px 8px;
        position: static;
        border: 1px solid gray;
        background: whitesmoke;
    }
    .filter{
        font-size: 20px;
    }
    table{
        width: 100%;
        margin: 3px 0 3px 04px
    }
    .complete-filter-data{
        width: 100%;
        padding: 10px 0 0 20px;
    }
    .filter-content .heading-btn{
        margin: 5px 0 0 55px;
    }
}
/* ----------------------------------------------------Media Query CSS Code -- end------------------------------------------------------------------------------ */
