<div class="filter-content">
  <h3 class="filter">Filters</h3>
  <div class="complete-filter-data">
    <button class="heading-btn">Launch Year</button>
    <table class="filter-table">

      <tr *ngFor="let year of launchYears; index as i;let even = even;">
        <td *ngIf="even"><button value="{{year}}" #launchYear
            (click)="filter_launchYearData(launchYear.value)">{{launchYears[i]}}</button></td>
        <td *ngIf="even && launchYears[i+1]<2021"><button value="{{year+1}}" #launchYear
            (click)="filter_launchYearData(launchYear.value)">{{launchYears[i+1]}}</button></td>
      </tr>
    </table>

    <button class="heading-btn">Successful Launch</button>
    <table class="filter-table">
      <tr>
        <td><button value="true" #succLaunch (click)="filter_SuccessfulLaunchData(succLaunch.value)">True</button></td>
        <td><button value="false" #failLaunch (click)="filter_SuccessfulLaunchData(failLaunch.value)">False</button>
        </td>
      </tr>
    </table>

    <button class="heading-btn">Successful Landing</button>
    <table class="filter-table">
      <tr>
        <td><button value="true" #succLanding (click)="filter_SuccessfulLandingData(succLanding.value)">True</button>
        </td>
        <td><button value="false" #failLanding (click)="filter_SuccessfulLandingData(failLanding.value)">False</button>
        </td>
      </tr>
    </table>
  </div>
</div>
